body {
  font-family: $font-sans;
  font-size: rem(14px);
  font-weight: $font-weight-normal;
  line-height: $line-height-md;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  color: inherit;
}

h1,
.h1 {
  font-size: rem(65px);
  font-weight: $font-weight-light;
}

h2,
.h2 {
  font-size: rem(55px);
  font-weight: $font-weight-lighter;
}

h3,
.h3 {
  font-size: rem(40px);
  font-weight: $font-weight-bold;
}

h4,
.h4 {
  font-size: rem(30px);
  font-weight: $font-weight-bold;
}

h5,
.h5 {
  font-size: rem(20px);
  font-weight: $font-weight-bold;
}

h6,
.h6 {
  font-size: rem(12px);
  font-weight: $font-weight-bold;
}

p {
  font-size: 1rem;
  font-weight: $font-weight-normal;
  line-height: $line-height-md;
}

a {
  color: inherit;

  &:hover {
    color: var(--color-primary);
  }
}
