{% 
  set data = {
    menus: [
      {
        label: 'accordion',
        target: '_self',
        link: './accordion.html',
        classes: ''
      },
      {
        label: 'button',
        target: '_self',
        link: './button.html',
        classes: ''
      }
    ]
  }
%}