.accordion {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  @include breakpoint-up(map.get($breakpoints, "900")) {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
  }
}

// tab
.accordion {
	&-tab {
		position: relative;
		display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: rem(20px) rem(7px) rem(20px) 0;
    width: 100%;
    border: 0;
    appearance: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    line-height: 1;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    font-size: rem(20px);
    color: var(--color-text);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: var(--color-primary);
      transition: height 0.15s ease-out;
    }

		&:focus-visible {
			outline: auto;
		}
	}

  @media (hover: hover) {
    &-tab:hover {
      &::after {
        height: 5px;
      }
    }
  }

  @include breakpoint-up(map.get($breakpoints, "900")) {
    &-tab {
      padding: rem(30px) rem(7px) rem(30px) 0;
      font-size: rem(24px);
    }
  }

  &-tab-label {
    position: relative;
    width: calc(100% - 100px);
    line-height: 1.15;
  }

  &-tab-icon {
    width: rem(24px);
    height: rem(24px);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: rem(4px);
      height: rem(24px);
      left: rem(10px);
      top: 0;
      background-color: var(--color-primary);
      transform-origin: center;
      transform: rotate(0);
      transition: transform 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      width: rem(24px);
      height: rem(4px);
      top: rem(10px);
      left: 0;
      background-color: var(--color-primary);
    }
  }

  &-tab.expanded {
    .accordion-tab-icon::before {
      transform: rotate(90deg);
      left: 10px;
    }
  }
}

// panel
.accordion {
	&-panel {
		position: relative;
		height: 0;
		top: 1px;
		outline: none;

		> div {
      position: relative;
			padding-top: $spacer * 1.5;
			padding-bottom: rem(40px);
      padding-right: 10%;
			opacity: 0;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: var(--color-btn);
      }
		}
	}

	&-panel.expanded > div {
		opacity: 1;
	}
}

// animation sequence
.accordion {
	&-panel.animate-in {
		transition: height 0.3s ease-out;
	}

	&-panel.animate-in > div {
		transition: opacity 0.4s ease-out 0.2s;
	}

	&-panel.animate-out {
		transition: height 0.3s ease-out 0.2s;
	}

	&-panel.animate-out > div {
		transition: opacity 0.3s ease-out;
	}
}


