.accordion {
  &-header {
    position: relative;
    border-bottom: 1px solid $color-grey-c;
  }

  &-trigger {
    @include reset-button;

    display: block;
    font-size: rem(30px);
    font-weight: $font-weight-bold;
    text-align: left;
    background-color: $color-grey-d;
    width: 100%;
    padding: rem(20px);
    box-sizing: border-box;
    border: 2px solid $color-grey-d;

    &:hover {
      background-color: $color-grey-c;
      border: 2px solid $color-grey-c;
    }

    &:focus-visible {
      outline: none;
      border: 2px solid $color-blue;
    }
  }

  &-panel {
    height: 0;
  }

  &-content {
    padding: rem(20px);
    opacity: 0;
  }

	&-panel.expanded > div {
		opacity: 1;
	}

	// animation sequence
	&-panel.animate-in {
		transition: height 0.3s ease-out;
	}

	&-panel.animate-in > div {
		transition: opacity 0.4s ease-out 0.2s;
	}

	&-panel.animate-out {
		transition: height 0.3s ease-out 0.2s;
	}

	&-panel.animate-out > div {
		transition: opacity 0.3s ease-out;
	}
}
