
.button {
  @include reset-button;

  border-radius: 3px;
  background-color: $gray-e;
  color: $gray-2;
  padding: rem(13px) rem(10px);
  font-size: rem(14px);
  font-family: $font-sans;
  font-weight: $font-weight-semibold;
  border: 1px solid $black;

  &:hover {
    background-color: rgba($color: $gray-e, $alpha: 60%);
  }

  &:focus {
    @include reset-focus;
  }

  &.disabled,
  &[disabled] {
    background-color: $gray-d;
    border: 1px solid $gray-a;
    color: $gray-a;
    cursor: default;
  }
}
