.card {
  &-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    background: var(--color-bg-subtle);
  }

  &-link,
  &-link h2 {
    text-decoration: none;
  }

  @include breakpoint-up(map.get($breakpoints, "500")) {
    &-img {
      height: 180px;
    }
  }
}
