label {
  position: relative;
  display: block;
  padding-left: 23px;
}

/* Spacing between options */
label:not(:last-of-type) {
  margin-bottom: 10px;
}

/**
  Empty checkbox
*/
label:before {
  position: absolute;
  left: 0;
  top: 1px;

  content: "";
  width: 13px;
  height: 13px;

  border: 1px solid black;
}

/**
  Checked state - adds a pure-CSS checkmark inside of box
*/
input:checked + label:after {
  position: absolute;
  left: 2px;
  top: 4px;

  content: "";
  width: 8px;
  height: 4px;
  margin-right: 8px;

  border-left: 2px solid black;
}
