.hero {
  height: 100vh;
  background: #000;
  color: var(--color-white);
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 200px;
  }

  .line1 {
    padding-left: 50%;
  }
}

.sticky {
  position: relative;
}

.sticky-bar {
  width: 100%;
  height: 0;
  position: sticky;
  top: calc(100% - 30px);
  z-index: 1000;
}

.sticky-bar-orange {
  background-color: var(--color-grey-green);
  position: absolute;
  width: 1px;
  height: 30px;
  top: 0;
  left: 0;
}

.sticky-bar-black {
  background-color: var(--color-black);
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
}

.slide {
  position: relative;
  background: var(--color-black);
}

.bg-sticky {
  background-color: var(--color-black);
  color:var(--color-grey-5);
  font-size: 12px;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.slide1-slide {
  height: 100vh;
  width: 100%;
  color: var(--color-white);
  font-size: 120px;
  position: relative;
  font-weight: bold;
  display: flex;
  align-items: center;
}

// 2
.slide2 {
  padding: 100px 0;
  overflow: hidden;
}

.text {
  font-size: 100px;
  line-height: 1.3;
  font-weight: bold;
  color: var(--color-white);
  transform-origin: left center;
}

// 3 
.slide3 {
  position: relative;
}

.slide3-slide {
  position: sticky;
  height: 100vh;
  width: 100%;
  font-size: 100px;
  overflow: hidden;
  top: 0;
  color: var(--color-white);
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide3-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mosaic1 {
  height: 15%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity ease-out 0.2s;
}

.slide3-img {
  height: 100vh;
  background-color: rgba(168, 243, 161, 10%);
}

// 4
.slide4-slide {
  font-size: 100px;
  font-weight: bold;
  color:var(--color-white);
  height: 100vh;
  display: flex;
  align-items: center;
}

.slide4-content {
  width: 60%;
  margin-top: -300px;
}

.slide4-sticky {
  width: 30%;
  position: sticky;
  top: 0;
  margin-left: 70%;
  font-size: 60px;
  color: var(--color-white);
  padding: 100px 0;
}

.beyond {
  min-height: 700px;
  padding-top: 100px;
}