.tshero-container {
  max-width: 1280px;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.tshero-video {
  width: 100%;
}

.tshero {
  position: absolute;
  width: 100%;
  height: 260px;
  top: 21%;
  left: 0;
  // background-color: rgba(0, 81, 255, 0.1);
}

.tshero-canvas-1 {
  width: 165px;
  height: 260px;
  display: block;
  position: absolute;
  left: 29px;
}
