<section class="accordion mt mb" data-component="Accordion">
  <div class="container">
    <h2>Accordion</h2>
    {% for item in accordion.list %}
      <h3 class="accordion-header">
        <button 
          id="accordion-trigger-{{loop.index}}"
          class="accordion-trigger"
          aria-expanded="false"
          aria-controls="accordion-section-{{loop.index}}">
          {{item.title}}
        </button>
      </h3>
      <section
        id="accordion-panel-{{loop.index}}"
        class="accordion-panel"
        aria-labelledby="accordion-trigger-{{loop.index}}">
        <div class="accordion-content">
          {{item.description|safe}}
        </div>
      </section>
    {% endfor %}

  </div>
</section>