<section class="accordion" data-component="Accordion">
  <div class="container">
    <header class="accordion-header">
      <h1>Accordion</h1>
    </header>

    {% for item in accordion.list %}
      <h3 class="accordion-header">
        <button
          id="accordion-trigger-{{loop.index}}"
          class="accordion-trigger js-trigger"
          aria-expanded="false"
          aria-controls="accordion-panel-{{loop.index}}">
          <div class="accordion-label-text">{{item.title}}</div>
          <div class="accordion-label-icon"></div>
        </button>
      </h3>
      <div
        id="accordion-panel-{{loop.index}}"
        class="accordion-panel js-panel"
        role="region"
        aria-labelledby="accordion-trigger-{{loop.index}}">
        <div class="accordion-content js-content">
          {{item.description|safe}}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
