<section class="accordion mt mb" data-component="Accordion">
  <div class="container">
    <h2>Accordion</h2>
    {% for item in accordion.list %}
      <h3 class="accordion-header">
        <button
          id="accordion-trigger-{{loop.index}}"
          class="accordion-trigger js-trigger"
          aria-expanded="false"
          aria-controls="accordion-section-{{loop.index}}">
          {{item.title}}
        </button>
      </h3>
      <div
        id="accordion-panel-{{loop.index}}"
        class="accordion-panel js-panel"
        role="region"
        aria-labelledby="accordion-trigger-{{loop.index}}">
        <div class="accordion-content js-content">
          {{item.description|safe}}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
