{#  A11y
<button>
  <i class="fa fa-search" aria-hidden="true"></i>
  <span class="sr-only">Search</span>
</button>

<button aria-label="search">
  <i class="fa fa-search"  aria-hidden="true"></i>
</button>

<div role="button" tabindex="0">act as a button</div>
#}


<button type="button" class="btn {{button.disabled}}" {{button.disabled}}>{{button.label}}</button>

