{# A11y 

<a href="https://google.com">
  <span class="sr-only">Visit our social media page.</span>
  <span aria-hidden="true">Click</span>
</a>

<a href="https://google.com" aria-label="Visit our social media page.">
  Click
</a>

+[country code][phone number including area code]
#}

<a href="tel:+17181231234">718-123-1234</a>
<a href="mailto:hello@google.com">hello@google.com</a>