{#
https://codepen.io/A360/pen/RwNwZXo/fb4a41d7e8a232fff64fe073a49e0f4a
https://codepen.io/A360/pen/GRRbyQy/c4854d60c98ef67c72839832ebf1946c
https://codepen.io/A360/pen/RwpLMqB/441c6a6db97c4c33e7078e4dfee58864
https://codepen.io/A360/pen/wvvbONp/ed5bdbdea266f76c7200f325a0088119
https://codepen.io/A360/pen/ZEYPeOo/b2b628495f740be1b17775570eceffc5
https://www.w3.org/WAI/ARIA/apg/patterns/menubar/examples/menubar-navigation/
https://www.nngroup.com/articles/mega-menus-work-well/
https://www.w3.org/WAI/tutorials/menus/structure/
#}

<nav aria-label="main">
  <ul>
    <li>
      <!-- Top-level link / trigger -->
      <!-- Menu -->
    </li>
    ...
  </ul>
</nav>
