{#
  https://codepen.io/A360/pen/jOEjdNy/9fdd2bd235ac07f3b59fcabd8dec1e4e
  https://codepen.io/A360/pen/gObNqQg/438952c9407a4637b717bf9bf496ae9b
  https://codepen.io/A360/pen/oNgKQbX/afdee110724fd6d1d01bfb9a79a2accf
  https://codepen.io/A360/pen/ZEQPpqZ/136a9bab669dcfbd63662f6eee7fe04c

  Tabs change state on a single page, not provide navigational controls to other pages.
#}

<div class="tablist" role="tablist" aria-label="chickens">
  <button role="tab" aria-selected="true" aria-controls="bantam-tabpanel" id="bantam-tab" class="tab">Bantam</button>
  <button role="tab" aria-selected="false" aria-controls="brahma-tabpanel" tabindex="-1" id="brahma-tab" class="tab">Brahma</button>
  <button role="tab" aria-selected="false" aria-controls="cochin-tabpanel" tabindex="-1" id="cochin-tab" class="tab">Cochin</button>
  <button role="tab" aria-selected="false" aria-controls="jersey-giant-tabpanel" disabled="true" tabindex="-1" id="jersey-giant-tab" class="tab">Jersey Giant</button>
</div>

<div role="tabpanel" tabindex="0" aria-labelledby="bantam-tab" id="bantam-tabpanel" class="tabpanel is-visible">
  <h2>About Bantam</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus lectus, viverra quis imperdiet vitae, vehicula sit amet sem. Nam finibus velit vel viverra tempor. Nunc dolor ipsum, malesuada elementum ultrices vel, suscipit eu libero. Quisque convallis a magna vel imperdiet. Nulla sapien nisl, semper nec eros sed, dictum congue libero.</p>
</div>

<div role="tabpanel" tabindex="0" aria-labelledby="brahma-tab" id="brahma-tabpanel" class="tabpanel">
  <h2>About Brahma</h2>
  <p>Morbi placerat bibendum augue, a varius metus pulvinar euismod. Vivamus et tempus massa, dapibus accumsan ligula. Nulla eu erat at eros sodales aliquet. Phasellus nisi felis, finibus et dolor quis, porttitor rhoncus enim. Curabitur lectus enim, condimentum eget posuere quis, tempor ut erat.</p>
</div>

<div role="tabpanel" tabindex="0" aria-labelledby="cochin-tab" id="cochin-tabpanel" class="tabpanel">
  <h2>About Cochin</h2>
  <p>Donec dapibus malesuada felis, sed commodo elit scelerisque pharetra. Mauris imperdiet enim sed dapibus venenatis. In lacus nulla, blandit a neque ac, interdum auctor urna. In lacinia sit amet quam eget sagittis. Proin tincidunt ipsum et dui tincidunt blandit.</p>
</div>

<div role="tabpanel" tabindex="0" aria-labelledby="jersey-giant-tab" id="jersey-giant-tabpanel" class="tabpanel">
  <h2>About Jersey Giant</h2>
  <p>Maecenas aliquam vehicula felis, vitae vehicula massa semper ac. Sed pellentesque bibendum lacus quis blandit. Maecenas finibus leo ex, ut vulputate velit blandit ut. Donec mattis quam vitae varius fermentum. Etiam libero dolor, luctus hendrerit semper in, elementum fermentum libero. Mauris vitae euismod orci.</p>
</div>
