<div class="tshero-container">
  <video class="tshero-video" id="tshero-video" autoplay>
    <source src="/assets/video/FinSci_Desktop2X.mp4" type='video/mp4'>
  </video>
  <div class="tshero js-canvas-container" data-component="TSHero">
    <canvas class="tshero-canvas-0-s letter-l js-canvas" data-id="0" data-texture="" data-type=""></canvas>
    <canvas class="tshero-canvas-1-c letter-s js-canvas" data-id="1" data-texture="" data-type=""></canvas>
    <canvas class="tshero-canvas-2-i letter-s js-canvas" data-id="2" data-texture="" data-type=""></canvas>
    <canvas class="tshero-canvas-3-e letter-s js-canvas" data-id="3" data-texture="" data-type=""></canvas>
    <canvas class="tshero-canvas-4-n letter-s js-canvas" data-id="4" data-texture="" data-type=""></canvas>
    <canvas class="tshero-canvas-5-c letter-s js-canvas" data-id="5" data-texture="" data-type=""></canvas>
    <canvas class="tshero-canvas-6-e letter-s js-canvas" data-id="6" data-texture="" data-type=""></canvas>
    <canvas class="tshero-canvas-7-s letter-s js-canvas" data-id="7" data-texture="" data-type=""></canvas>
  </div>
</div>
