<div class="tshero-container">
  <video class="tshero-video" id="tshero-video" autoplay loop>
    <source src="/assets/video/FinSci_Desktop2X.mp4" type='video/mp4'>
  </video>
  {# <div class="tshero-video">
    <img src="/assets/img/pic/video.png" alt="">
  </div> #}
  <div class="tshero js-canvas-container" data-component="TSHero">
    <canvas class="tshero-canvas-1 js-canvas-1"></canvas>
  </div>
</div>
