// https://getbootstrap.com/docs/5.3/layout/css-grid/
.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  gap: 1rem;

  @include make-cssgrid;
}

.grid.color {
  > div {
    background-color: var(--color-secondary);
  }
}
