// <section>
// <div class="container">
// <div class="grid">
// <div class="span6"></div>
// <div class="span6"></div>
// </div>
// </div>
// </section>

// use section for the full width content of the browser
section,
.section {
  display: block;
  position: relative;
}

.section-mg {
  margin-top: 60px;
  margin-bottom: 60px;
}

.row {
  margin-bottom: 60px;
}

// container has max width
// see box-sizing value
.container {
  display: block;
  position: relative;
  box-sizing: content-box;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  gap: 1rem;

  @include make-cssgrid;

  > div {
    background-color:var(--color-secondary);
  }
}
