// <section>
// <div class="container">
// <div class="grid">
// </div>
// </div>
// </section>

// use section for the full width content of the browser
section,
.section {
  display: block;
  position: relative;
}

//container has max width
.container {
  display: block;
  position: relative;
  box-sizing: content-box;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
}

// global grid
.grid {
  @include bp-up(map.get($bps, "bp-700")) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 15px;
  }
}
