{% extends "layouts/base.njk" %}
{% block content %}

  <section class="section-mg">
    <div class="container">
      <header class="row">
        <h1>Grid</h1>
      </header>
      <div class="grid row color">
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
        <div class="g-col-1">.g-col-1</div>
      </div>
      <div class="grid row color">
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
      </div>
      <div class="grid row color">
        <div class="g-col-12 g-col-900-8 g-start-900-3">
          .g-col-12 .g-col-900-8 .g-start-900-2<br>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit accusantium, magnam repudiandae nostrum praesentium, velit, quod explicabo ipsam at reiciendis? Iste alias architecto laboriosam hic maiores cum repudiandae delectus eveniet? Minus excepturi temporibus corporis aliquid ducimus aspernatur corrupti at voluptatibus cumque eum consequatur sint provident magnam deserunt reiciendis, dolores nisi dignissimos error ex ullam maiores reprehenderit debitis. Excepturi perferendis soluta vel laboriosam labore dolore eligendi atque velit aliquid rem in porro, debitis inventore laborum pariatur cumque necessitatibus adipisci voluptate molestias illum maiores repellat, corrupti quia rerum? Quas, quia sed! Soluta sapiente sit accusantium unde. Quae asperiores rerum deserunt expedita.
        </div>
      </div>
    </div>
  </section>

{% endblock %}
