{% extends "layouts/base.njk" %} 
{% block content %}

  <section class="section-mg">
    <div class="container">
      <div class="grid">
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
        <div class="g-col-12 g-col-500-6 g-col-1200-3">.g-col-12<br>.g-col-500-6<br>.g-col-1200-3</div>
      </div>
    </div>
  </section>

{% endblock %}