{% extends "layouts/base.njk" %}
{% block content %}
<section class="index">
  <div class="container">
    <h1 class="h3 visually-hidden">Component Library</h1>
    <h2 class="h4">Components</h2>
    <ul>
      <li><a href="./accordion.html" target="_self">Accordion</a></li>
      <li><a href="./card-grid.html" target="_self">Cards</a></li>
      <li><a href="./tab.html" target="_self">Tab</a></li>
      <li><a href="./modal.html" target="_self">Modal</a></li>
      <li><a href="./button.html" target="_self">Button</a></li>
      <li><a href="./button-close.html" target="_self">Close Button</a></li>
      <li><a href="./filter.html" target="_self">Filter</a></li>
      <li><a href="./form.html" target="_self">Form</a></li>
      <li><a href="./quote.html" target="_self">Quote</a></li>
      <li><a href="./quote.html" target="_self">Carousel Flickity</a></li>
    </ul>
    <h2 class="h4">Layout</h2>
    <ul>
      <li><a href="./grid.html" target="_self">Grid</a></li>
    </ul>
    <h2 class="h4">Libraries</h2>
    <ul>
      <li><a href="./charty.html" target="_self">Chart.js</a></li>
    </ul>
  </div>
</section>
{% endblock %}
