{% extends "layouts/base.njk" %} {% block content %}

<section>
  <div class="container">
    <img
      src="./assets/img/pic/unsplash-01.jpg"
      alt="unsplash"
      class="img-full-width"
    />
  </div>
</section>

<section class="mt mb">
  <div class="container">
    <div class="grid">
      <div class="span4 shade">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ipsum
        ipsam? Eveniet recusandae magnam totam hic. Quae ipsa architecto
        praesentium.
      </div>
      <div class="span2 shade">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ipsum
        ipsam? Eveniet recusandae magnam totam hic. Quae ipsa architecto
        praesentium.
      </div>
      <div class="span3 shade">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
        adipisci debitis inventore nemo id nisi facilis eveniet. Illum, nostrum
        ipsum.
      </div>
      <div class="span3 shade">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
        perferendis molestiae necessitatibus non odit eligendi.
      </div>
    </div>
  </div>
</section>

<section class="mt mb">
  <div class="container">
    <div class="grid">
      <div class="span12 shade">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
    </div>
  </div>
</section>

{% endblock %}
