/* try to use mobile first strategy */
@mixin breakpoint-up($breakpoint: $bb-default) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin breakpoint-down($breakpoint: $bb-default) {
  @media screen and (max-width: $breakpoint-1) {
    @content;
  }
}

@mixin breakpoint-between($breakpoint-min, $breakpoint-max) {
  @media screen and (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
    @content;
  }
}

/* reset */
@mixin reset-button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  box-shadow: none;
  appearance: none;
}

@mixin reset-focus {
  outline: 2px solid $color-blue;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}