/**
* image 
**/
.img-full-width {
  width: 100%;
}

/**
* text align
**/
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/**
* margin
**/
.mt {
  margin-top: rem(60px);

  @include breakpoint-up(map.get($bps, "tablet")) {
    margin-top: rem(90px);
  }
}

.mb {
  margin-bottom: rem(60px);

  @include breakpoint-up(map.get($bps, "tablet")) {
    margin-bottom: rem(90px);
  }
}
