/**
* image 
**/
.img-full-width {
  width: 100%;
}

/**
* text align
**/
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.visually-hidden {
  @include visually-hidden;
}
