:root,
[data-theme="light"] {
  --color-bg: #efefef;
  --color-txt: #0e0b16;
  --color-txt-contrast: #e9e8e8;
  --color-primary: #ff3b3f;
  --color-secondary: #caebf2;
}

[data-theme="dark"] {
  --color-bg: #0e0b16;
  --color-txt: #e7dfdd;
  --color-txt-contrast: #e7dfdd;
  --color-primary: #4717f6;
  --color-secondary: #a239ca;
}

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-red: #fa2b0b;
$color-blue: #2528f4;
$color-gray-1: #111;
$color-gray-2: #222;
$color-gray-3: #333;
$color-gray-4: #444;
$color-gray-5: #555;
$color-gray-6: #666;
$color-gray-7: #777;
$color-gray-8: #888;
$color-gray-9: #999;
$color-gray-a: #aaa;
$color-gray-b: #bbb;
$color-gray-c: #ccc;
$color-gray-d: #ddd;
$color-gray-e: #eee;

// font family
$font-sans: "Roboto", sans-serif;
$font-serif: serif;

// font weight
$font-weight-xlight: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

// line-height
$line-height-sm: 1.2 !default;
$line-height-md: 1.5 !default;
$line-height-lg: 2 !default;

// layout
$grid-columns: 12;
$grid-column-gap: 30px;
$grid-row-gap: 20px;

// breakpoints
$bp-300: 360px;
$bp-400: 480px;
$bp-500: 576px;
$bp-600: 640px;
$bp-700: 768px;
$bp-800: 889px;
$bp-900: 992px;
$bp-1000: 1024px;
$bp-1200: 1200px;
$bp-1400: 1400px;
$bp-default: 992px;

// breakpoints map
$breakpoints: (
  "300": 360px,
  "400": 480px,
  "500": 576px,
  "600": 640px,
  "700": 768px,
  "800": 889px,
  "900": 992px,
  "1000": 1024px,
  "1200": 1200px,
  "1400": 1400px,
  "default": 992px
) !default;

// grid bps
$grid-breakpoints: (
  "0": 0,
  "500": 576px,
  "700": 768px,
  "900": 992px,
  "1000": 1024px,
  "1200": 1200px
);

// spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// page max width
$page-max-width: 1280px;

// transition
$transition-base: all 0.25s ease-in-out;

// z-index
$zindex-header: 8000 !default;
$zindex-modal: 9999 !default;
