$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray-1: #111;
$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-a: #aaa;
$gray-b: #bbb;
$gray-c: #ccc;
$gray-d: #ddd;
$gray-e: #eee;
$blue: #1771f9 !default;
$indigo: #610fee !default;
$purple: #5c30ad !default;
$pink: #d63384 !default;
$red: #cb2e3e !default;
$orange: #f47c49 !default;
$yellow: #ffc107 !default;
$green: #0f9154 !default;
$teal: #39c49b !default;
$cyan: #2bc5e4 !default;

// font family
$font-sans: "Roboto", sans-serif;
$font-serif: serif;

// font weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// line-height
$line-height-sm: 1.2 !default;
$line-height-md: 1.5 !default;
$line-height-lg: 2 !default;

// layout
$grid-columns: 12;
$grid-column-gap: 30px;
$grid-row-gap: 20px;

// breakpoints
// $bp-300: 360px;
// $bp-400: 480px;
// $bp-500: 576px;
// $bp-600: 640px;
// $bp-700: 768px;
// $bp-800: 889px;
// $bp-900: 992px;
// $bp-1000: 1024px;
// $bp-1200: 1200px;
// $bp-1400: 1400px;
// $bp-default: 992px;

// breakpoints map
$breakpoints: (
  "300": 360px,
  "400": 480px,
  "500": 576px,
  "600": 640px,
  "700": 768px,
  "800": 889px,
  "900": 992px,
  "1000": 1024px,
  "1200": 1200px,
  "1400": 1400px,
  "default": 768px,
) !default;

// grid bps
$grid-breakpoints: (
  "0": 0,
  "300": 360px,
  "400": 480px,
  "500": 576px,
  "600": 640px,
  "700": 768px,
  "800": 889px,
  "900": 992px,
  "1000": 1024px,
  "1200": 1200px,
);

// spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// page max width
$page-max-width: 1280px;

// transition
$transition-base: all 0.25s ease-in-out;

// z-index
$zindex-header: 1000 !default;
$zindex-modal: 1050 !default;
$zindex-tooltip: 1100 !default;
$zindex-dropdown: 900 !default;
