{% 
  set data = {
    list: [
      {
        title: 'Pellentesque',
        description: '<p>Donec in enim vulputate, sagittis lacus elementum, sagittis urna. Nunc metus neque, maximus id risus et, dapibus aliquam enim. Phasellus eu lectus venenatis enim elementum dictum sed quis massa. Sed porttitor odio quis pellentesque sagittis. Quisque interdum metus eu tempus imperdiet. Phasellus vel eros bibendum, bibendum diam vel, auctor est. Etiam gravida volutpat fermentum. Nam ligula lacus, condimentum a imperdiet nec, vehicula pretium libero. Nam laoreet molestie leo, nec consequat mi elementum at.</p>'
      },
      {
        title: 'Donec',
        description: '<p>Donec eleifend in felis a pretium. Morbi congue mattis nibh placerat facilisis. Pellentesque a blandit massa. Phasellus interdum quis lectus vitae dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris posuere erat risus, id tincidunt justo tristique at. In pellentesque purus at sagittis suscipit. Nunc semper rhoncus purus, eu varius tortor pharetra ut.</p>'
      },
      {
        title: 'Integer',
        description: '<p>Integer auctor tincidunt velit a vulputate. Maecenas facilisis nec leo pretium tincidunt. Etiam quis lectus porttitor, vulputate est at, gravida arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus eu malesuada arcu. Nam venenatis nibh lectus, id lobortis odio pretium id. In sit amet fermentum purus, sit amet venenatis nisi. Aenean arcu ex, accumsan vitae bibendum et, ultrices a ligula. Maecenas nisi velit, dapibus eget lectus at, tincidunt mattis tellus. Suspendisse sit amet lacus eget magna bibendum fermentum vel vitae lorem. Suspendisse auctor accumsan ullamcorper. Aliquam cursus sit amet erat eget interdum. Donec mattis gravida tincidunt. Aliquam fermentum, est convallis porta convallis, purus elit commodo nulla, eu vulputate nunc tellus eleifend mi.</p>'
      }
    ]
  }
%}