{% 
  set data = {
    list: [
      {
        title: 'Lorem ipsum dolor sit.',
        description: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi placeat nisi possimus ad. Quas eos quidem, rem dolorem molestias impedit odio animi quaerat aliquam laboriosam repellendus, atque at repudiandae? Dolorem, sapiente, amet quisquam nam vitae ipsa praesentium nemo enim illo a maiores! Ad doloribus modi nesciunt ratione mollitia soluta asperiores, error sequi iusto magni aliquid dolore architecto quam eum aliquam sed consequatur, accusamus culpa velit beatae distinctio recusandae accusantium at inventore. Commodi porro voluptate tenetur sed tempora provident saepe. Officia, animi suscipit, quaerat similique numquam quidem natus deleniti beatae perferendis quod quasi asperiores optio qui id praesentium, sequi totam consequuntur.</p>'
      },
      {
        title: 'Sint distinctio ipsum culpa.',
        description: '<p>Excepturi atque mollitia pariatur vel molestias eius qui repudiandae ducimus. Officia adipisci quae ad eveniet, veritatis et, facilis laudantium doloribus tenetur ut eius sapiente aspernatur ipsa culpa. Et tenetur sed reiciendis velit voluptatum repudiandae voluptates? Aliquam voluptates earum ut nihil hic animi excepturi. Eum provident nihil unde quam iusto alias, beatae possimus dolore dicta rerum! Delectus numquam aperiam at fugiat quo ut, accusamus inventore fugit! Debitis quod voluptates at natus recusandae nesciunt voluptate nam, accusamus explicabo vero rerum ea qui excepturi, aliquam facere, quas facilis beatae quaerat cumque! Ex, distinctio optio provident laboriosam ipsam sunt officiis architecto dignissimos similique eum?</p>'
      },
      {
        title: 'Nam, distinctio quas. Ex!',
        description: '<p>Asperiores ratione optio praesentium, iure dolor soluta earum nisi corrupti eum accusamus doloremque enim alias nihil excepturi natus aliquam officiis voluptate ut cum, quaerat eius. Unde magnam cupiditate dolore aliquam assumenda adipisci rem possimus, recusandae nihil quaerat. Dolor, cum atque! Similique officiis architecto vel animi hic. Nam eius quae nisi eaque fugit itaque porro dicta illum omnis consequatur fuga necessitatibus aperiam sapiente, neque provident? Sint non impedit a cumque dolorum suscipit eum officia totam praesentium voluptatibus voluptates, incidunt tempore fugit ipsum error ullam? Porro hic magni ex sequi consectetur, nulla laborum consequuntur asperiores exercitationem voluptatum, praesentium minus eius in facilis.</p>'
      },
      {
        title: 'Dicta porro minima non.',
        description: '<p>Quia eius dolor aut ratione debitis mollitia magnam necessitatibus nisi officiis. Iure beatae accusantium consequuntur aliquid ullam quia cumque voluptatem veritatis velit maxime illo quaerat tempora consectetur aliquam reiciendis suscipit soluta repudiandae corporis eius, laboriosam non? Dolore, asperiores quibusdam in error iure neque maiores facere repudiandae eligendi possimus provident hic sed, atque quia quo id architecto? Sunt ducimus deserunt quasi dicta et. Quaerat a neque natus reiciendis perferendis laboriosam obcaecati possimus eligendi quas similique repellendus alias fugit, odit commodi eveniet aperiam facilis ullam quibusdam officia, expedita quisquam assumenda. Aperiam cupiditate porro at? Culpa repellendus beatae explicabo fugiat, architecto mollitia distinctio.</p>'
      },
      {
        title: 'Fugit provident autem ducimus.',
        description: '<p>Eius aut cupiditate laudantium eligendi commodi! Est, quibusdam omnis. Impedit, deserunt tempore? Illum totam architecto cupiditate optio possimus neque ratione eligendi quo, animi vel, itaque recusandae quaerat officiis soluta in, accusamus iusto ad blanditiis debitis. Aut aliquid eveniet quibusdam facilis nobis voluptatum nisi mollitia nulla molestiae. Inventore voluptatem iste libero in commodi, perferendis voluptas ex quidem maxime autem, modi quas dolorum necessitatibus sed nostrum laudantium praesentium incidunt earum temporibus accusantium cupiditate voluptate aspernatur ullam quia! Vel laudantium dolorum dolore voluptatibus repudiandae possimus reprehenderit magni. Recusandae repellendus neque delectus facere ab molestias, officiis odit suscipit similique assumenda veniam sapiente odio ipsam.</p>'
      }
    ]
  }
%}