{%
  set buttons = {
    list: [
      {
        label: 'Button',
        disabled: '',
        link: "https://google.com"
      },
      {
        label: 'Disabled Button',
        disabled: 'disabled',
        link: "https://google.com"
      }
    ]
  }
%}
