{%
  set cards = {
    list: [
      {
        title: 'Card 1',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        link: "https://google.com"
      },
      {
        title: 'Card 2',
        description: 'Excepturi atque mollitia pariatur vel molestias eius qui repudiandae ducimus.',
        link: "https://google.com"
      },
      {
        title: 'Card 3',
        description: 'Asperiores ratione optio praesentium, iure dolor soluta',
        link: "https://google.com"
      },
      {
        title: 'Card 4',
        description: 'Quia eius dolor aut ratione debitis mollitia magnam',
        link: "https://google.com"
      },
      {
        title: 'Card 5',
        description: 'Eius aut cupiditate laudantium eligendi commodi! ',
        link: "https://google.com"
      },
      {
        title: 'Card 6',
        description: 'Eius aut cupiditate laudantium eligendi commodi! ',
        link: "https://google.com"
      },
      {
        title: 'Card 7',
        description: 'Eius aut cupiditate laudantium eligendi commodi! ',
        link: "https://google.com"
      },
      {
        title: 'Card 8',
        description: 'Eius aut cupiditate laudantium eligendi commodi! ',
        link: "https://google.com"
      }
    ]
  }
%}
